@model Website_IgleOA.Models.LoginModel
@{
    ViewBag.Title = "Iniciar Sesión";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>HOME PAGE</h1>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}