@{
    ViewBag.Title = "Confirmación de Registro";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
<hr />
<div>
    <p>
        Gracias @ViewBag.FullName por registrarse...
    </p>
</div>
<div>
    <p>
        Su cuenta aun esta pendiente de autorizar, pero será autorizada en las próximas 24 horas.
    </p>
</div>
<div>
    <p>
        Bendiciones...
    </p>
</div>




