@{
    ViewBag.Title = "Restablecer Contraseña - Confirmación";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/assets/css/Login.css" rel="stylesheet" />
<link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="d-flex justify-content-center h-auto">
        <div class="card">
            <div class="card-header">
                <h3>Restablecer contraseña</h3>
            </div>
            <div class="card-body">
                <div>
                    <h3>Confirmación</h3>
                </div>
                <div>
                    <p>
                        Su constraseña has sido restablecida. Por favor haga @Html.ActionLink("click aqui para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
